firebase_config/

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
build/
dist/
*.egg-info/
*.spec
.eggs/
develop-eggs/
sdist/
wheels/
pip-wheel-metadata/
parts/
var/

.venv/
venv/
ENV/
env/
lib/
lib64/
include/
share/
bin/
Scripts/

outputs/
cloned_repo_cli/
cloned_repo_gradio/
*.log
coverage.xml
.coverage
htmlcov/

# macOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
nbproject/
*.swp
*~

*.tar.gz
*.zip
*.manifest
*.bak